fastapi
uvicorn
pandas
python-dotenv
langchain
langchain-community
langchain-core
langgraph
pinecone-client
sentence-transformers
openai
snowflake-connector-python
matplotlib
serpapi
graphviz
langchain_openai
pyarrow<19.0.0
